@inherits LayoutComponentBase

<div class="bg-background text-on-surface font-body-md bg-grid-pattern bg-grid min-h-screen flex flex-col md:flex-row">
    
    <AdminNavMenu />

    <main class="flex-1 md:ml-[260px] p-margin-mobile md:p-margin-desktop w-full max-w-[1600px] overflow-y-auto">
        @Body
    </main>

</div>